# Prominent Data Sources

In [1]:
import pandas as pd

## Gun Violence Archive (GVA)
The Gun Violence Archive is a widely recognized and frequently referenced source for information on gun violence incidents, including mass shootings, in the United States. They collect and analyze data from various sources, including law enforcement, media reports, and public sources. Their website provides access to a comprehensive database of mass shootings and other gun violence incidents https://www.gunviolencearchive.org/mass-shooting

In [2]:
df_gva = pd.read_csv('../data/gunviolencearchive.csv')

In [3]:
df_gva

,Incident ID,Incident Date,State,City Or County,Address,# Victims Injured,# Victims Killed,# Subjects-Suspects Injured,# Subjects-Suspects Killed,# Subjects-Suspects Arrested,Operations
0,2614735,"June 2, 2023",Texas,San Antonio,5100 block of Eisenhauer Rd,3,1,0,0,0,NaN
1,2614353,"May 31, 2023",Ohio,Cleveland,400 block of E 123rd St,3,1,0,0,0,NaN
2,2613375,"May 31, 2023",Ohio,Cincinnati,73 E McMicken Ave,4,0,0,0,0,NaN
3,2613087,"May 31, 2023",North Carolina,Fayetteville,700 block of Rembrandt Dr,2,2,0,0,2,NaN
4,2612967,"May 30, 2023",Pennsylvania,Lebanon,400 block of N 5th St,1,3,0,0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1995,1712386,"June 22, 2020",Illinois,Chicago,5200 block of S Lowe Ave,4,0,0,0,0,NaN
1996,1713668,"June 22, 2020",Ohio,Columbus,1910 Fountainview Ct,4,1,0,0,0,NaN
1997,1711747,"June 21, 2020",New York,Buffalo,W Ferry St and Niagara St,4,0,0,0,0,NaN
1998,1711626,"June 21, 2020",Texas,Austin,500 block of E 7th St,5,0,0,0,0,NaN
1999,1711410,"June 21, 2020",Minnesota,Minneapolis,2939 Hennepin Ave S,11,0,0,0,0,NaN

## Mother Jones Mass Shootings Database
Mother Jones, a nonprofit news organization, maintains a database that focuses on mass shootings in public places in the United States. They provide in-depth details about each incident, including the location, date, number of victims, and other relevant information. Their database is regularly updated and widely referenced.
https://docs.google.com/spreadsheets/d/1b9o6uDO18sLxBqPwl_Gh9bnhW-ev_dABH83M5Vb5L8o/edit#gid=0

In [4]:
sheet_url = "https://docs.google.com/spreadsheets/d/1b9o6uDO18sLxBqPwl_Gh9bnhW-ev_dABH83M5Vb5L8o/edit#gid=0"
url_1 = sheet_url.replace("/edit#gid=", "/export?format=csv&gid=")

In [5]:
df_mj = pd.read_csv(url_1)

In [6]:
df_mj

,case,location,date,summary,fatalities,injured,total_victims,location.1,age_of_shooter,prior_signs_mental_health_issues,...,weapon_details,race,gender,sources,mental_health_sources,sources_additional_age,latitude,longitude,type,year
0,New Mexico neighborhood shooting,"Farmington, New Mexico",5/15/23,"Beau Wilson, 18, opened fire in a residential ...",3,6,9,Other,18,yes,...,AR-15-style rifle,White,M,https://www.cbsnews.com/news/farmington-shooti...,https://www.nbcnews.com/news/us-news/beau-wils...,-,-,-,mass,2023
1,Texas outlet mall shooting,"Allen, Texas",5/6/23,"Mauricio Garcia, 33, wore tactical gear and us...",8,7,15,Other,33,yes,...,AR-15-style rifle,Latino,M,https://www.nytimes.com/2023/05/07/us/texas-ma...,-,-,-,-,Mass,2023
2,Louisville bank shooting,"Louisville, Kentucky",4/10/23,"Connor Sturgeon, 25, opened fire inside Old Na...",5,8,13,workplace,25,yes,...,AR-15 rifle,White,M,https://apnews.com/article/downtown-louisville...,-,-,-,-,Mass,2023
3,Nashville Christian school shooting,"Nashville, Tennessee",3/27/23,"Audrey Hale, 28, who was a former student at t...",6,6,12,School,28,-,...,-,White,"F (""identifies as transgender"" and ""Audrey Hal...",https://www.tennessean.com/story/news/crime/20...,-,-,-,-,Mass,2023
4,Michigan State University shooting,"East Lansing, Michigan",2/13/23,"Anthony D. McRae, 43, opened fire at Berkey Ha...",3,5,8,School,43,-,...,-,Black,M,https://www.cnn.com/us/live-news/michigan-stat...,-,-,-,-,Mass,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Shopping centers spree killings,"Palm Bay, Florida",4/23/1987,"Retired librarian William Cruse, 59, was paran...",6,14,20,Other,59,Yes,...,"Sturm, Ruger Mini-14 semiautomatic rifle; 20-g...",white,Male,http://articles.latimes.com/1987-04-25/news/mn...,(Supreme Court of Florida Document) http://www...,http://articles.latimes.com/1987-04-25/news/mn...,28.0331886,-80.6429695,Spree,1987
140,United States Postal Service shooting,"Edmond, Oklahoma",8/20/1986,"Postal worker Patrick Sherrill, 44, opened fir...",15,6,21,Workplace,44,Unclear,...,".22-caliber, two .45-caliber Colt Model 1911-A...",white,Male,http://news.google.com/newspapers?id=dm8aAAAAI...,http://newsok.com/sherrill-feared-mental-illne...,http://news.google.com/newspapers?id=dm8aAAAAI...,35.6672015,-97.42937037,Mass,1986
141,San Ysidro McDonald's massacre,"San Ysidro, California",7/18/1984,"James Oliver Huberty, 41, opened fire in a McD...",22,19,41,Other,41,Yes,...,9mm Browning P35 Hi-Power semiautomatic handgu...,white,Male,http://www.utsandiego.com/san-ysidro-massacre/...,http://www.nctimes.com/news/local/article_2ba4...,http://www.utsandiego.com/san-ysidro-massacre/...,32.5520013,-117.0430813,Mass,1984
142,Dallas nightclub shooting,"Dallas, Texas",6/29/1984,"Abdelkrim Belachheb, 39, opened fire at an ups...",6,1,7,Other,39,Yes,...,9mm Smith & Wesson 459 semiautomatic handgun,white,Male,http://books.google.com/books?id=Hr3OBwP-lbUC&...,http://books.google.com/books?id=Hr3OBwP-lbUC&...,http://books.google.com/books?id=Hr3OBwP-lbUC&...,32.925166,-96.838676,Mass,1984
143,Welding shop shooting,"Miami, Florida",8/20/1982,"Junior high school teacher Carl Robert Brown, ...",8,3,11,Other,51,Yes,...,Mossberg 500 Persuader pump-action shotgun wit...,white,Male,http://www.nytimes.com/1982/08/21/us/gunman-in...,http://news.google.com/newspapers?id=uuYLAAAAI...,http://www.nytimes.com/1982/08/21/us/gunman-in...,25.796491,-80.226683,Mass,1982

In [7]:
df_mj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   case                              144 non-null    object
 1   location                          144 non-null    object
 2   date                              144 non-null    object
 3   summary                           144 non-null    object
 4   fatalities                        144 non-null    int64
 5   injured                           144 non-null    int64
 6   total_victims                     144 non-null    int64
 7   location.1                        144 non-null    object
 8   age_of_shooter                    144 non-null    object
 9   prior_signs_mental_health_issues  144 non-null    object
 10  mental_health_details             144 non-null    object
 11  weapons_obtained_legally          144 non-null    object
 12  where_obtained                    144 non-null    object
 13  weapon_type                       144 non-null    object
 14  weapon_details                    143 non-null    object
 15  race                              144 non-null    object
 16  gender                            144 non-null    object
 17  sources                           144 non-null    object
 18  mental_health_sources             144 non-null    object
 19  sources_additional_age            144 non-null    object
 20  latitude                          144 non-null    object
 21  longitude                         144 non-null    object
 22  type                              144 non-null    object
 23  year                              144 non-null    int64
dtypes: int64(4), object(20)
memory usage: 27.1+ KB

## Violence Project's Mass Shooter Database
The Violence Project’s Mass Shooter Database contains extensive details about public mass shootings in the US and their perpetrators, weapons, and victims, with a goal of “finding pathways to prevention.” The database, funded by a National Institute of Justice grant, covers 170+ shootings between 1966 and early 2020. Examples of the variables include: the perpetrator’s employment status, known prejudices, and experience with mental illness; the victims’ relationship to the perpetrator and estimated years of life they lost; and the firearms’ make, model, and method of acquisition.
https://www.theviolenceproject.org/key-findings/

In [8]:
filepath = '../data/violence_project.xlsx'
sheets = pd.ExcelFile(filepath)

In [9]:
sheets.sheet_names

['Table of Contents',
 'FAQs',
 'New in Each Version',
 'Codebook',
 'Full Database',
 'Firearms Data',
 'Victims Data',
 'Community Data',
 'Trend Data']

In [10]:
df_data = pd.read_excel(filepath, sheet_name='Full Database')

In [20]:
df_data.sample()

,Case #,Shooter Last Name,Shooter First Name,Full Date,Day of Week,Day,Month,Year,Street Number,Street Name,...,Interest in Firearms,Firearm Proficiency,Total Firearms Brought to the Scene,Other Weapons or Gear,Specify Other Weapons or Gear,On-Scene Outcome,Who Killed Shooter On Scene,Attempt to Flee,Insanity Defense,Criminal Sentence
157,158.0,Cruz,Nikolas,2/14/2018,Wednesday,14.0,2.0,2018.0,5901.0,Pine Island Rd,...,1.0,2.0,1.0,1.0,"smoke grenades, gas mask",2.0,0.0,1.0,3.0,2.0

In [15]:
df_victims = pd.read_excel(filepath, sheet_name='Victims Data')

In [24]:
df_victims.sample(5)

,Case #,Shooter Last Name,Shooter First Name,Full Date,Victim Name,Age,Gender,Race,Knew Shooter,"If Known, Relationship to Shooter",Relationship to Shooter,Life Expectancy,Years Lost
796,129.0,Lanza,Adam,12/14/2012,Emilie Parker,6.0,1.0,0.0,0.0,NaN,0.0,80.7,74.7
173,29.0,Huberty,James,7/18/1984,Margarita Padilla,18.0,1.0,2.0,0.0,NaN,0.0,74.7,56.7
255,40.0,Harris,Joseph,10/10/1991,Joseph M. VanderPaauw,59.0,0.0,NaN,2.0,may have been former coworker,3.0,65.6,6.6
282,42.0,Lu,Gang,11/1/1991,Robert A. Smith,45.0,0.0,0.0,1.0,professor,4.0,66.5,21.5
754,126.0,Holmes,James,7/20/2012,"Alexander Jonathan ""A.J."" Boik",18.0,0.0,0.0,0.0,NaN,0.0,72.7,54.7

In [17]:
df_firearms = pd.read_excel(filepath, sheet_name='Firearms Data')

In [23]:
df_firearms.sample(5)

,Case #,Shooter Last Name,Shooter First Name,Full Date,Make and Model,Classification,Caliber,Used in Shooting?,Modified,Large Capacity Magazine,Extended Magazine,When Obtained,Legal Purchase,Illegal Purchase,Assembled with Legal Parts,Gifted,Theft,Unknown
207,100.0,Roberts,Charles,2006-10-02 00:00:00,.30-06 Ruger bolt-action rifle,2.0,2.0,0.0,0.0,0.0,0.0,NaN,3.0,0.0,0.0,0.0,0.0,0.0
396,186.0,Louis,Michael,2022-06-01 00:00:00,AR-15-style rifle,3.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
310,150.0,Santiago,Esteban,2017-01-06 00:00:00,9mm Walther semi-automatic pistol,0.0,1.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0
319,154.0,Paddock,Stephen,2017-10-01 00:00:00,.223-caliber Daniel Defense DDM4V11 AR-15 with...,3.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
203,98.0,Huff,Kyle,2006-03-25 00:00:00,12-gauge Winchester Defender 1300 pump-action ...,1.0,2.0,1.0,1.0,0.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN